<div>

    <h3>Hier findest du wichtige Tipps zum Lösen einiger aufgaben</h3>

    <ul>
        <li><a target="_blank" href="/hints/section3">Block 3</a></li>
        <li><a target="_blank" href="/hints/section4">Block 4</a></li>
        <li><a target="_blank" href="/hints/section5">Block 5</a></li>
        <li><a target="_blank" href="/hints/section7">Block 7</a></li>
        <li><a target="_blank" href="/hints/section8">Block 8</a></li>
        <li><a target="_blank" href="/hints/section9">Block 9</a></li>
        <li><a target="_blank" href="/hints/section10">Block 10</a></li>
    </ul>

    <br>

    <small>Vielleicht fragst du dich: <i>"Warum sind diese Tipps auf separaten Seiten? Leg sie doch einfach zu den
        Aufgaben, das ist viel praktischer."</i>. Die Idee ist, dass nur diejenigen die Tipps nutzen, welche ohne diese
        nicht zeitig mit den Aufgaben fertig werden. Jene, welche die Aufgaben mit etwas nachdenken selber lösen können,
        sollen so nicht in die Versuchung gebracht werden einfach nur die Lösungsvorschläge zu kopieren. Natürlich
        kontrolliert ihr euch im Endeffekt immernoch am besten selber, aber es soll schonmal eine kleine Hürde sein.
    </small>

</div>