<div>



   <h1>Hier können die Logfiles ausgewertet werden</h1>

    <select id="" ng-model="logSelected" ng-change="logFileSelected(logSelected)" ng-options="log.filename for log in logFileNames">
        <option value="">-- Pick Logfile --</option>
    </select>


    <div ng-show="logSelected">
        <h3>Theorielampenauswertung</h3>
        <div>Diese Grafik zeigt den Verlauf des Theorie vs. Praxisempfindes der Teilnehmer. Dabei reichen die Werte maximal von 46920 (blaue Lampe, zu wenig Theorie) bis 65280 (rote Lampe, zu wenig Übungen).</div>
        <div id="theory_chart" style="width: 100%; height: 400px;"></div>
        <h3>Geschwindigkeitslampenauswertung</h3>
        <div>Diese Grafik zeigt den Verlauf  des Geschwindigkeitsempfindens der Teilnehmer. Dabei reichen die Werte maximal von 0 (rote Lampe, zu schnell) bis 25500(grüne Lampe, zu langsam).</div>
        <div id="speed_chart" style="width: 100%; height: 400px;"></div>

        <h3>Rohdatenübersicht:</h3>
        <span>Hier sind alle Loggingeinträge einzusehen. Kommentare, Folienwechsel, Kaffepausen und Lampenfarbenänderungen werden hier eingetragen.</span>

        <table class="table table-striped">
            <tr>
                <th><a href="" ng-click="predicate = 'name'; reverse=!reverse;">Name</a></th>
                <th><a href="" ng-click="predicate = 'time'; reverse=!reverse;">Zeit</a></th>
                <th><a href="" ng-click="predicate = 'type'; reverse=!reverse">Typ</a></th>
                <th>Details</th>
            </tr>



            <tr ng-repeat="logEntry in logFileSelected | orderBy:predicate:reverse">
                <td>
                    <!--speed/theory rating-->
                    <div ng-if="logEntry.type == 'userRating'">{{logEntry.user}}</div>
                    <!--comments-->
                    <div ng-if="logEntry.comment">{{logEntry.username}}</div>
                </td>
                <td>{{logEntry.time | date:'mediumTime'}}</td>
                <td>
                    <!--Speed/theory rating-->
                    <div ng-if="logEntry.type == 'userRating'">Benutzerrating</div>
                    <!--comments-->
                    <div ng-if="logEntry.comment">Kommentar</div>
                    <!--slideChange-->
                    <div ng-if="logEntry.type == 'slideChange'">Folienwechsel</div>
                </td>

                <td>
                    <!--speed/theory rating-->
                    <div ng-if="logEntry.type == 'userRating'">Thema: {{logEntry.ratingType}} -- Neuer Wert: {{logEntry.newRatingValue}} -- Gesamtwertung: {{logEntry.currentRatingAverage}} (Benutzer: {{logEntry.userCount}})</div>
                    <!--comments-->
                    <div ng-if="logEntry.comment">{{logEntry.comment}}</div>
                    <!--slideChange-->
                    <div ng-if="logEntry.type == 'slideChange'">Block: {{logEntry.sectionNumber}} - XY: {{logEntry.x}} {{logEntry.y}}</div>
                </td>
            </tr>
        </table>

    </div>



</div>