
<div class="fade-animation-double-container" style="min-height: 400px; ">
    <div class="jumbotron fade-animation-double" ng-if="!hasGotIt" id="welcome-banner" style="width: 100%">
        <h1>Welcome</h1>

        <p>This is our workshop system. Please feel free to check everything out!</p>

        <p>If you want to start live rating the workshop, please provide a username after clicking the "Got it!"
            button</p>
        <button type="button" class="btn btn-info" ng-click="gotIt()">Got it!</button>
    </div>

    <div id="enter-name-dialog" ng-if="hasGotIt && !isUsernameSet" class="fade-animation-double">

        <form class="form-horizontal" role="form">
            <div class="form-group" ng-class="{'has-success' : validateUsername(), 'has-error' : !validateUsername()}">
                <label for="nameField" class="col-sm-3 control-label">Please choose a username:</label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" id="nameField" placeholder="e.g. foobar2000"
                           ng-model="participant.name">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-success" ng-click="saveName(participant.name)"
                            ng-disabled="!validateUsername()">OK!
                    </button>
                </div>
            </div>

        </form>
        </p>
    </div>


    <div id="overview" ng-if="hasGotIt && isUsernameSet" class="fade-animation-double">

        <div>TODO: Alle Markdown Dokumente in index.html umwandeln. (TASKS + HINTS) Alle Markdown Source Blöcke in Präsentation richtig rücken (tabs)</div>

        <h2>Ablaufsübersicht: </h2>

        <table class="table table-responsive table-striped">

            <tr>
                <th>Block</th>
                <th>Zeit</th>
                <th>Theorie</th>
                <th>Praxis</th>
            </tr>
            
            <tr>
                <td>1</td>
                <td>08:00 - 10:00</td>
                <td>Einführung OC, IoT & Prototyp</td>
                <td>Live Demo, jeder kann Lichter steuern (mit eigenem Smartphone)</td>
            </tr>

            <tr>
                <td>2</td>
                <td>10:00 - 11:00</td>
                <td>Native Stack Vorstellung, Theorie zu 433Mhz Kommunikaton</td>
                <td>SSH Verbindung zum jeweils eigenen Pi herstellen, native Libraries via shell aufrufen, eigene Lampe steuernd</td>
            </tr>

            <tr>
                <td>3</td>
                <td>11:00 - 12:00</td>
                <td>Java Native Interfaces (JNI), Zugriff auf C Libraries aus Java, C Build Prozess mit Java Includes
                </td>
                <td>JNI Schnittstelle selber bauen, aus Java heraus Lampe steuern</td>
            </tr>

            <tr>
                <td>4</td>
                <td>12:45 - 13:00</td>
                <td>Architektur Prototyp (Spring MVC, Camunda, Hibernate, Maven, Angular, Ionic, CEP)</td>
                <td>Einrichten von Spring mittels Servlet Konfiguration, Server hochfahren mittels IntelliJ</td>
            </tr>

            <tr>
                <td>5</td>
                <td>13:00 - 14:00</td>
                <td>Common Domain - Hibernate Persistenzschicht</td>
                <td>Erstellen einiger Common Domain Klassen & Anbindung von Datenbank & Hibernate an Spring Kontext</td>
            </tr>

            <tr>
                <td>6</td>
                <td>14:00 - 16:00</td>
                <td>Kommunikation im IoT, REST, Protokolle, Architekturen, im Prototypen eingesetzte Komm.</td>
                <td>REST Schnittstellen erstellen und mit Dummywerten arbeiten, aufrufen über Postman oder IntelliJ</td>
            </tr>

            <tr>
                <td>7</td>
                <td>08:00 - 09:00</td>
                <td>Kurze Übersicht was wir haben, dann Brainstorm was benötigt wird um Lücke zu schließen</td>
                <td>Implementieren einiger Methoden im Spring Service + Anbindung Spring Controller - Spring Service.</td>
            </tr>

            <tr>
                <td>8</td>
                <td>09:00 - 10:00</td>
                <td>Einführung Mobile Applications im IoT, App im Prototyp</td>
                <td>Eigens erstellte REST Services testen mit mobiler Applikation</td>
            </tr>

            <tr>
                <td>9</td>
                <td>10:00 - 11:00</td>
                <td>Einführung in BPM, Camunda & Drools, wege zur Camunda Integration in Spring</td>
                <td>Camunda in Spring integrieren, Prozess über REST Service starten.</td>
            </tr>
            
            <tr>
                <td>10</td>
                <td>11:00 - 12:00</td>
                <td>Genaue Erklärung des BPMN Prozesses im Prototypen</td>
                <td>Fehlerfinden im Prozess & Korrektur</td>
            </tr>

        </table>



    </div>

    <div class="row">

        <div class="col-md-1">

        </div>

        <div class="col-md-1">

        </div>

        <div class="col-md-5">

        </div>

        <div class="col-md-5">

        </div>
    </div>


</div>


