<div class="container-fluid" id="ratingPage">
    <div class="row rating-columns">
        <div class="col-sm-12 text-center">
            <h2>Live speech rating</h2>


            <p>Please give us live feedback! Change your opinion any time. The lamps will reflect the average of all participants
        </div>
    </div>


    <button type="button" class="btn btn-info btn-lg btn-block" ng-click="submitSpeedRequest(-1)">Schneller</button>
    <button type="button" class="btn btn-default btn-lg btn-block" ng-click="submitSpeedRequest(0)">OK</button>
    <button type="button" class="btn btn-danger btn-lg btn-block" ng-click="submitSpeedRequest(1)">Langsamer</button>






</div>
