<div>

    <h3>Hier findest du alle unsere Folien</h3>
    <ul>
        <li><a target="_blank" href="/slides/IoT_fho_twi.pptx">Block 1 - IoT Vortrag OC</a></li>
        <li><a target="_blank" href="/slides/section1">Block 1 - Prototyp</a></li>
        <li><a target="_blank" href="/slides/section2">Block 2 - Native Stack, 433MHz</a></li>
        <li><a target="_blank" href="/slides/section3">Block 3 - Java Native Interfaces</a></li>
        <li><a target="_blank" href="/slides/section4">Block 4 - Prototyparchitektur</a></li>
        <li><a target="_blank" href="/slides/section5">Block 5 - Persistenz und Domänenmodell</a></li>
        <li><a target="_blank" href="/slides/section6">Block 6 - Kommunikation im IoT</a></li>
        <li><a target="_blank" href="/slides/section7">Block 7 - Spring Services & DAO</a></li>
        <li><a target="_blank" href="/slides/section8">Block 8 - Mobile Applications</a></li>
        <li><a target="_blank" href="/slides/section9">Block 9 - BPM, Camunda, Drools, Springintegration</a></li>
        <li><a target="_blank" href="/slides/section10">Block 10 - Prototyp Businessprozess</a></li>
        <li><a target="_blank" href="/slides/section11">Block 11 - Event Processing im IoT</a></li>
    </ul>
</div>