<div>
    <h3>Die Aufgaben sind hier abgelegt:</h3>
    <ul>
        <li><a target="_blank" href="/tasks/section2">Block 2</a></li>
        <li><a target="_blank" href="/tasks/section3">Block 3</a></li>
        <li><a target="_blank" href="/tasks/section4">Block 4</a></li>
        <li><a target="_blank" href="/tasks/section5">Block 5</a></li>
        <li><a target="_blank" href="/tasks/section6">Block 6</a></li>
        <li><a target="_blank" href="/tasks/section7">Block 7</a></li>
        <li><a target="_blank" href="/tasks/section8">Block 8</a></li>
        <li><a target="_blank" href="/tasks/section9">Block 9</a></li>
        <li><a target="_blank" href="/tasks/section10">Block 10</a></li>

    </ul>
</div>