/* ====================== */
/* ***** other stuff***** */

/* header not fixed on small devices*/
@media (max-width: 767px) /* @grid-float-breakpoint -1 */ {
    .navbar-fixed-top {
        position: relative !important;
        top: auto;
    }

    body {
        padding-top: 0;
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) {
    body {
        height: 100%;
        padding-top: 70px;
        width: 100%;
        padding-bottom: 20px;
    }
}

/* Space out content a bit due to header and footer*/

/* Custom page footer */

#copyright-container {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #e5e5e5;
    z-index: 1030;

}

#copyright {
    position: fixed;
    margin: 0 auto 0 auto;
    padding: 1.5px;
    bottom: 0;
}

/* only allow scrolling for content*/
.page-container {
    overflow: auto;
    height: 100%;
}

.ng-view-container {
    font-size: 1.3em;
}

/* Rating columns for page to rate speed vs content *//*
#ratingPage .rating-columns {
    text-align: center;
}*/

/* container to display the rating colors the lamps might display*/

#ratingPage .range-container {
    margin: 0 auto 0 auto;

}

#ratingPage .range-inner {
    margin: 0 auto 0 auto;
    height: 30px;
}

#ratingPage .range-slider {
    margin: 5px auto 10px auto;

}

#ratingPage .element-box {
    background-color: #efefef;
    padding: 10px;
    border-radius: 6px;
}

#ratingPage .speed-range {
    background: -webkit-linear-gradient(right, #8EFF00, red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #8EFF00, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #8EFF00, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(right, #8EFF00, red); /* Standard syntax */
}

#ratingPage .theory-range {
    background: -webkit-linear-gradient(left, #0070c0, red); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #0070c0, red); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #0070c0, red); /* For Firefox 3.6 to 15 */
    background: linear-gradient(left, #0070c0, red); /* Standard syntax */
}

#ratingPage .colorrange-saturation-overlay {
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
}

#ratingPage .range-text {
    padding: 2px 7px 2px 7px;
    font-size: 1em;
    font-weight: bold;
}

#coffeeHelp img {
    padding: 4px;
}

#coffeeHelp img:hover {
    background-color: sandybrown;
}

#coffeeHelp img:active {
    background-color: sandybrown;
    box-shadow: 0 0 20px 5px sandybrown;
}

/*#coffeeContainer{
    background-color: rgb(198,0,2); padding: 10px;
}

#coffeeContainer:hover{
    background-color: rgb(153, 0, 2);
}

#coffeeContainer:active{
    background-color: rgb(232, 0, 2);
}*/


