/*light*/
@font-face {
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/*light*/
@font-face {
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/*regular*/
@font-face {
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/*medium*/
@font-face {
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

/*bold*/
@font-face {
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}




/*======*/

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}


/*********************************************
 * HEADERS
 *********************************************/
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}

