/*********************************************
 * GLOBAL STYLES
 *********************************************/
@media (min-width: 768px) {
    body {
        background: #fff url(OC_Brushes.svg);
        background-repeat: no-repeat;
        background-size: auto 80%;
        -webkit-background-size: auto 80%;
        background-position: right center;
        background-attachment: fixed;
    }
}

#copyright {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    color: #000;
    font-weight: 100;
}

html {
    height: 100%;
    width: 100%;

}

/* OC Logo */

#oc-logo {
    height: 50px;
    display: block;
    margin: 0 auto 0 auto;
}


span.caption {
    color: #fff;
    font-size: 60px;
    line-height: 1.2em;
    padding: 0 15px;
    background-color: #CCCCCC;
    margin-right: 20px;
}